{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>

    {{ include('Back/Article/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('article_index') }}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Back to list
    </a>

    {{ include('Back/Article/_delete_form.html.twig') }}
{% endblock %}
