{% extends 'base.html.twig' %}

{% block title %}Tag{% endblock %}

{% block body %}
    <h1>Tag</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ tag.id }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('tag_index') }}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Back to list
    </a>

    <a class="btn btn-warning" href="{{ path('tag_edit', {'id': tag.id}) }}">Edit</a>

    {{ include('Back/Tag/_delete_form.html.twig') }}
{% endblock %}
