{% extends "base.html.twig" %}


{% block body %}
    Liste de mes articles <br>

    {% for article in articles %}
        <ul class="list-group">
            <li class="list-group-item">
                Article {{ article.title }} :
                <a href="#">
                    <i class="fa fa-eye text-primary" aria-hidden="true" data-toggle="tooltip"
                       data-placement="top" title="View"></i>
                </a>
                <a href="#">
                    <i class="fa fa-pencil text-warning" aria-hidden="true" data-toggle="tooltip"
                       data-placement="top" title="Edit"></i>
                </a>
                <a href="{{ path('article_delete') }}">
                    <i class="fa fa-trash text-danger" aria-hidden="true" data-toggle="tooltip"
                       data-placement="top" title="Remove"></i>
                </a>
            </li>

        </ul>

        {{ article.title }}
    {% else %}
        Aucun article
    {% endfor %}
{% endblock %}
